absl-py
addict
aiofiles
aiohttp
aiohttp-retry
aiosignal
altair
altgraph
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-timeout
attrs
audioread
auto-py-to-exe
av
babel
backcall
basicsr
torch
matplotlib
seaborn
opencv-python-headless==4.5.5.64
