absl-py
addict
aiofiles
aiohttp
aiohttp-retry
aiosignal
altair
altgraph
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-timeout
attrs
audioread
auto-py-to-exe
av
babel
backcall
basicsr
torch
dlib==19.24.6 --find-links https://www.lfd.uci.edu/~gohlke/pythonlibs/#dlib
